$bgColor: #1d1f21;
$fgColor: #c5c8c6;

$bgColorAlt: #373b41;
$fgColorAlt: #ffffff;

$headingColor: #bf87d0;
// $linkColor: #8abeb7;
$linkColor: #a64ce2;

* {
  font-family: 'Source Code Pro', monospace;
}

::selection {
  color: $bgColor;
  background: $headingColor;
}
::-moz-selection {
  color: $bgColor;
  background: $headingColor;
}

body {
  max-width: 1800px;
  margin-left: auto;
  margin-right: auto;
  background-color: $bgColor;
  color: $fgColor;
  padding: 0;
  font-size: 1.1rem;
  line-height: 1.5;
}

code {
  background-color: $bgColorAlt;
  padding: 2px 5px;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 80vw;
}

h1, h2 {
  color: $headingColor;
}

a {
  text-decoration: none;
  color: $linkColor;
}

.colored-list li {
  color: $headingColor;
  p {
    color: $fgColor;
  }
}

.centered-text {
  text-align: center;
}

