$bgColor: #1d1f21;
$fgColor: #c5c8c6;

$bgColorAlt: #373b41;
$fgColorAlt: #ffffff;

$headingColor0: #bf87d0;
$headingColor1: #e67a30;

$linkColor: #a64ce2;
$linkColorAlt: pink;

* {
  font-family: 'Roboto', sans-serif;
}

@mixin selectionColor($fgColor, $bgColor) {
  color: $fgColor;
  background: $bgColor;
}

::selection { @include selectionColor($bgColor, $headingColor0) }
::-moz-selection { @include selectionColor($bgColor, $headingColor0) }

html, body {
  line-height: 1.5;
  background-color: $bgColor;
  color: $fgColor;
  padding: 0rem 0.8rem;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

main .single {
  margin: 3rem 0;
  h1, h3, h5 {
    text-align: center;
  }
}

code {
  background-color: $bgColorAlt;
  padding: 2px 5px;
  border-radius: 4px;
  font-family: 'Source Sans Pro', sans-serif;
}

pre code {
  overflow: scroll;
  display: block;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 80vw;
}

h1, h2 {
  color: $headingColor0;
}

h3, h4 {
  color: $headingColor1;
}

a {
  text-decoration: none;
  color: $linkColor;
}

main {
  ul, ol {
    line-height: 1.8;
  }
}

main ul {
  list-style: none;
  li::before {
    content: "\2022";
    color: $headingColor0;
    font-weight: bold;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
  }
}

nav {
  ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    a {
      color: $linkColorAlt;
      margin: 0 0.5rem;
    }
    a.selected {
      background-color: $headingColor0;
      color: $bgColor;
      padding: 2px 4px;
    }
  }
}

footer {
  #copyright {
    text-align: center;
    line-height: 1.1;
    font-size: 1rem;
  }
}

