* {
  // font-family: 'Source Code Pro', monospace;
  font-family: 'Roboto', sans-serif;
}

::selection {
  color: #ffffff;
  background: #8215d2;
}
::-moz-selection {
  color: #ffffff;
  background: #8215d2;
}

body {
  margin: 0;
  padding: 0;
  background-color: #232627;
  color: #ffffff;
}

